* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.items {
  position: fixed;
  background-color: #f1f1f1;
  width: 100%;
  height: calc(100% - 100px);
  top: 50px;
  overflow: auto;
  padding: 5px;
}

.items__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  margin-bottom: 5px;
  padding: 10px;
  color: #000;
  border-radius: 5px;
}

.items__item:hover {
  cursor: pointer;
}

.items > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items > div img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #f1f1f1;
}

.items > div h4 {
  color: #595959;
  font-weight: 200;
}

.nav__title {
  color: dodgerblue;
  position: relative;
}

.nav__title::after {
  position: absolute;
  content: '\00a9';
  top: -2px;
  right: -10px;
  font-size: 12px;
  color: #bfbfbf;
}

@media screen and (min-width: 768px) {
  .items__item {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .items__item {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: fixed;
  height: 50px;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  color: #737373;
  padding: 0.5rem 1rem;
  font-size: 14px;
}

footer .date {
  margin-right: 5px;
}

@font-face {
  font-family: proxima_nova;
  src: url("../resources/Proxima Nova Alt Light.otf");
}

body {
  background-color: #fff;
  color: #000;
  font-family: proxima_nova;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  color: #000;
}

noscript {
  position: fixed;
  background-color: #f1f1f1;
  width: 100%;
  height: calc(100% - 50px);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

noscript h1, noscript h4 {
  color: #737373;
}

noscript h4 {
  border: 2px solid #bfbfbf;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
}
/*# sourceMappingURL=main.css.map */
